*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
*.iml
.idea

.bsp/
.metals/
.bloop/
.vscode/
target/
metals.sbt
project/target
project/project